// header     
header
    // navbar
    .navbar
        position: absolute
        width: 100vw
        z-index: 1
        ul
            border-top: solid white 1px
            border-bottom: solid white 1px
        a
            color: white !important
            text-transform: uppercase
            margin: 0 20px
            font-size: 2rem
        a:hover
            background-color: red

    //carousel
    .carousel
        position: relative
        // button carousel
        .carousel-indicators
            button
                position: relative
                width: 14px
                height: 14px
                border-radius: 100%
                &::after
                    display: none
                    position: absolute
                    top: 2px
                    left: 2px
                    width: 10px
                    height: 10px
                    content: ""
                    border: 2px solid blue
                    border-radius: 20px
            button.active
                &::after
                    display: block

        // img carousel
        .carousel-inner
            img
                filter: brightness(20%) !important
    
        // txt in center header (carousel)
        .whatever
            position: absolute
            width: 50%
            margin: 0 auto 
            left: 0
            right: 0
            top: 50%
            transform: translateY(-50%)
            font-size: 3vw
            color: white
            p
                font-family: "font-titre"
                line-height: 1em
            span
                text-transform: uppercase
            .taste
                color: $danger
            .whititle
                color: white !important
            div
                button
                    border-radius: 20px
    .gg-img
        background-image: url("../../assets/images/bottom_decoration_img.png")
        width: 100%
        height: 10px
        background-color: black
        
// responsive header 
@media screen and (max-width: 620px)
    header
        .navbar
            .nav-link
                font-size: 20px
            a
                img
                    width: 50px
        .carousel
            .whatever
                width: 100%
                padding: 0 50px
                margin: 0
                margin-top: 15px
                p
                    padding: 0 20px
                    font-size: 15px
                button
                    font-size: 10px
                span
                    font-size: 20px
        
        
// responsive header for ipad 
@media screen and (min-width: 620px) and (max-width: 1024px)
        .sec-2-chef
            img
                width: 150px
        .carousel
            .whatever
                width: 100%
