header
    .navbar
        position: absolute
        z-index: 1
        ul
            border-top: solid black 1px
            border-bottom: solid black 1px
        a
            color: black !important
    .carousel-indicators
        button 
            width: 200px
            height: 200px
            border-radius: 50%
    .what
        background-color: blue
        width: 200px
        height: 100px
        p
            font-family: "font-titre"
    



@media screen and (max-width: 500px)
    .nav-link
        font-size: 10px
        margin: 0
        padding: 0 7px
    .px-3
        img
            width: 20px
