.section-3-container
    background-image: url("../../assets/images/main_bg.jpg")
    .contact-form
        border-radius: 20px
    .btnContact
        border-radius: 40px
        border: none
        text-transform: uppercase
    



    
    // coin
    position: relative
    .bord-bas-gauche
        position: absolute
        right: 0
        bottom: 0
    .bord-bas-droite
        position: absolute
        left: 0
        bottom: 0
    .bord-haut-gauche
        position: absolute
        left: 0
        top: 0
    .bord-haut-droite
        position: absolute
        right: 0
        top: 0