.sec-2
    text-transform: uppercase
    .meet
        p
            margin-bottom: 0
            padding-top: 25px
        img
            width: 200px
            margin-bottom: 15px
    .sec-2-chef
        text-transform: lowercase 
    
@media screen and (max-width: 620px)

        